<!DOCTYPE html>
<html lang="eng">

    <body>

    <div id="sidebar">
        {% block sidebar %}
            {% if properties is defined and properties %}

                {% for property in properties %}
                <ul>
                    <li>{{ property.name }}<a href="{{ path('property_show', {'id': property.id}) }}"> > show details of property</a></li>
                </ul>
                {% endfor %}

            {% endif %}

            {% if property is defined and property %}

                <ul>
                    <li>{{ property.name }}<a href="{{ path('property_show', {'id': property.id}) }}"> > show details of property</a></li>

            {% if rooms is defined and rooms %}
                    {% for room in rooms %}
                        <li>{{ room.name }}<a href="{{ path('room_show', {'id': room.id, 'prop_id': property.id}) }}"> > show details of room</a></li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if room is defined and room %}
                    <li>{{ room.name }}<a href="{{ path('room_show', {'id': room.id, 'prop_id': property.id}) }}"> > show details of room</a></li>
            {% endif %}

            {% endif %}

        {% endblock %}

    </div>

    <div id="content">
        {% block body %}{% endblock %}
    </div>
    </body>

</html>
