{% extends 'base.html.twig' %}

{% block title %}Requests{% endblock %}

{% block body %}
    <h1>Requests</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ request.id }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ request.status }}</td>
            </tr>
            <tr>
                <th>PropertyAddress</th>
                <td>{{ request.propertyAddress }}</td>
            </tr>
            <tr>
                <th>Notes</th>
                <td>{{ request.notes }}</td>
            </tr>
            <tr>
                <th>Creation_date</th>
                <td>{{ request.creationDate ? request.creationDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Update_date</th>
                <td>{{ request.updateDate ? request.updateDate|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('requests_index') }}">back to list</a>

    <a href="{{ path('requests_edit', {'id': request.id}) }}">edit</a>

    {{ include('requests/_delete_form.html.twig') }}
{% endblock %}
